// @forward "base";
// @forward "blocks";

// Tailwind if needed
// @tailwind base;

@mixin breakpoint($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}

@mixin min-breakpoint($size) {
  @media only screen and (min-width: $size + px) {
    @content;
  }
}

@function rem($val) {
  $rem: math.div($val, $browser-context) + rem;
  @return $rem;
}

@tailwind components;
@tailwind utilities;

.tp-header-logo,
.des-footer-logo {
  img {
    filter: brightness(0) invert(1);
  }
}

.filters {
  .select-box {
    width: 200px;
    &.multi-select {
      max-width: 50% !important;
      width: 100% !important;
      min-width: auto !important;
      position: relative;
      @include breakpoint(991) {
        max-width: 100% !important;
      }

      .select2-selection__arrow {
        height: 12px;
        width: 12px;
        top: calc(50% - 8px);
        right: 20px;
        transform: translateY(0%) rotate(-135deg);
        transition: 0.3s all ease-out;
        position: absolute;

        b {
          position: absolute;
          height: 14px;
          width: 14px;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          border-right: 0;
          border-bottom: 0;
          border-width: 1px !important;
          top: 0;
          left: 0;
          margin-top: 0;
          margin-left: 0;
          transition: 0.3s all ease-out;
        }
      }
    }
    &.single-select {
      @include breakpoint(991) {
        max-width: 100% !important;
        width: 100% !important;
      }
      .select2-container {
        height: 100% !important;
        .selection {
          height: 100%;
          display: inline;
          .select2-selection--single {
            height: 100% !important;
          }
        }
      }
    }
  }
  .select-box.multi-select:has(.select2-container--open)
    .select2-selection__arrow {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  .select2-container {
    width: 100% !important;
    .select2-selection--single {
      background-color: transparent;
      border-radius: 3rem !important;
      height: auto;
      border: 1px solid #fff;
      .select2-selection__rendered {
        padding: 20px;
        color: white;
        font-size: 16px;
        line-height: 1;
      }
      .select2-selection__arrow {
        height: 12px;
        width: 12px;
        top: calc(50% - 8px);
        right: 20px;
        transform: translateY(0%) rotate(-135deg);
        transition: 0.3s all ease-out;
        position: absolute;

        b {
          height: 14px;
          width: 14px;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          border-right: 0;
          border-bottom: 0;
          border-width: 1px !important;
          top: 0;
          left: 0;
          margin-top: 0;
          margin-left: 0;
          transition: 0.3s all ease-out;
        }
      }
    }
    .select2-selection--multiple {
      background-color: transparent !important;
      padding: 15px !important;
      border-radius: 3rem !important;
      border: 1px solid #fff !important;
      min-height: auto !important;
      display: flex;
      .select2-search--inline {
        height: 30px !important;
        display: inline-flex !important;
        align-items: center;
        .select2-search__field {
          margin: 0 !important;
          font-size: 1rem;
          line-height: 1.2;
          font-weight: 400;
          color: white;
          height: 20px;
          position: relative;
          // top: -2px;
          &::placeholder {
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      .select2-selection__rendered {
        height: 30px !important;
        display: flex !important;
        flex-wrap: wrap;
        color: white;
        @include breakpoint(991) {
          height: auto !important;
          gap: 5px !important;
        }
        .select2-selection__choice {
          margin-top: 0px !important;
          background-color: var(--tp-common-red-3) !important;
          border: none !important;
          color: white !important;
          border-radius: 3rem !important;
          font-size: 16px !important;
          line-height: 1.2 !important;
          display: flex;
        }
      }
      .select2-selection__choice__remove {
        height: 100%;
        color: white;
        padding-left: 10px;
      }
      .select2-selection__choice__display {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .dropdown-result {
    position: absolute;
    min-width: 15.625rem;
    min-height: 16.25rem;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    box-shadow: 0 0.25rem 3.375rem 0 rgba(0, 0, 0, 0.1);

    @include breakpoint(767) {
      // left: 50%;
      // transform: translate(-50%, 0%);
      left: auto;
      right: 0;
      transform: translateX(0) !important;
      top: 6.5rem;
      min-width: 100%;
    }

    .select2-container {
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
      left: 0 !important;

      .select2-dropdown {
        width: 100% !important;
      }
    }

    .select2-dropdown {
      border: none;
      // position: relative;
      height: 100%;
      overflow-y: auto;
    }

    .select2-results {
      .select2-results__option--selected {
        background-color: rgba($color: #ff5722, $alpha: 0.3);
      }
      .select2-results__options {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: none;
        height: 100%;
        box-sizing: border-box;
        z-index: 2;

        .select2-results__option,
        .select2-selection__placeholder {
          font-size: 1rem;
          line-height: 1.2;
          font-weight: 300;
          color: black;

          text-transform: capitalize;
          padding: 16px 10px;
          // font-variation-settings: "wght" 300;
          will-change: font-weight, color, background-color;
          transition: all 0.4s ease-out;
          // transition: 0.4s all ease-out;

          &.select-2-results__option--selected,
          &.select2-results__option--highlighted {
            background-color: var(--tp-common-red-3);
            color: var(--tp-common-white);
            // font-weight:  400;
            // text-shadow: 0.7px 0 0 rgba($color: black, $alpha: 1);
          }
        }
      }
    }
  }
}

.select2-container--default.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      transform: rotate(44deg) translate(5px, 5px);
      b {
        border-color: #fff !important;
      }
    }
  }
}

.formidable {
  .form-group {
    margin-bottom: 1.25rem;
    label {
      font-size: 16px;
      font-weight: 500;
      color: var(--tp-common-white);
      line-height: 1;
      margin-bottom: 12px;
    }
    input,
    textarea {
      background: #1d1d1f;
      border-color: #1d1d1f;
      color: var(--tp-common-white);
      box-shadow: none !important;
      &:focus {
        border-color: #fff669;
        background-color: var(--tp-common-black-7);
      }
    }
    textarea {
      resize: none;
      height: 160px;
    }
  }
}

.tp-contact-form-btn button {
  background-color: #fff669 !important;
  border-color: #fff669 !important;
}

// html:not(.ccm-edit-mode) {
.collapse {
  visibility: visible !important;
}
// }

header.header {
  z-index: 99;
  transition: 0.6s ease-out transform, 0.4s ease-out 0.1s background-color;

  @include breakpoint(1279) {
    transition: 0.4s ease-out transform, 0.4s ease-out 0.1s background-color;
  }
  .tp-header-2-area {
    padding: 40px 0;
    @include breakpoint(640) {
      margin-top: 0px !important;
      padding: 20px 0;
    }
  }
  .tp-header-logo {
    @include breakpoint(1279) {
      padding: 0 !important;
    }
    img {
      width: auto;
      max-width: 80px;
      transition: all 0.3s ease-out;

      @include breakpoint(1279) {
        width: 60px;
      }
      // @include breakpoint(767) {
      //   width: 100px;
      // }
    }
  }

  &.top {
    transform: translateY(-100%);

    .tp-header-2-area {
      margin-top: 0px !important;
      padding: 15px 0;
    }

    .tp-header-logo img {
      width: 60px;

      @include breakpoint(640) {
        width: 50px;
      }
    }
  }

  &.sticky-header {
    transform: translateY(0);
    background-color: white;

    .tp-header-logo img {
      filter: brightness(0) invert(0);
      transition: all 0.3s ease-out;
    }

    .tp-header-2-bar span {
      color: black;
      transition: all 0.3s ease-out;
      i {
        background-color: black;
        transition: all 0.3s ease-out;
      }
    }
  }
}

.services-listing {
  @include breakpoint(767) {
    padding-bottom: 0 !important;
  }

  .des-text-title-box {
    &:last-of-type {
      @include breakpoint(767) {
        padding-bottom: 0 !important;
      }
    }
  }

  .des-text-item.sm span {
    @include breakpoint(767) {
      font-size: 80px !important;
    }
  }

  .des-text-item span {
    @include breakpoint(767) {
      padding-right: 60px;
      margin-right: 30px;
    }
  }
}

.des-brand-area {
  .des-brand-item-inner {
    @include breakpoint(640) {
      min-width: auto !important;
      width: calc(50% - 5px) !important;
      margin: 0 !important;
      background-color: #1b1b1d;
      height: 120px;
      display: grid;
      padding: 20px;
      border-radius: 20px;
      place-content: center;
    }

    img {
      @include breakpoint(640) {
        filter: invert(1);
        max-width: 100px;
      }
    }
  }
}

.our-team-section {
  .des-team-item-box {
    @include breakpoint(767) {
      display: flex;
      flex-direction: column-reverse;
    }
    &:first-of-type {
      @include breakpoint(767) {
        padding-top: 0 !important;
      }
    }
    .des-team-reveal-img {
      @include breakpoint(767) {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        aspect-ratio: 0.8 !important;
        height: auto !important;
        transform: none !important;
        opacity: 1 !important;
        margin: 0 0 20px 0 !important;
      }
    }
  }
}

.des-footer-wrap {
  p {
    @include breakpoint(640) {
      margin-bottom: 0px !important;
    }
  }
  .des-footer-logo {
    @include breakpoint(640) {
      padding: 0px !important;
    }
  }
  .des-footer-top {
    @include breakpoint(640) {
      margin-bottom: 30px !important;
    }
  }

  .des-footer-middle {
    @include breakpoint(640) {
      padding-bottom: 30px !important;
    }
  }
}

.des-project-area {
  .des-project-banner img {
    @include breakpoint(640) {
      transform: none !important;
    }
  }
}

.page-type-portfolio {
  .tp-hero-2-wrapper {
    .tp-about-us-area {
      padding-bottom: 0 !important;
    }
  }
}

.body.tp-magic-cursor #magic-cursor {
  @include min-breakpoint(1279) {
    display: none !important;
  }
}

.page-template-portfolio-detail {
  .next-prev-portfolio-block {
    .col-lg-8 {
      @include breakpoint(1279) {
        width: 100% !important;
      }
    }
    .tp-pd-1-np-box {
      @include breakpoint(1279) {
        position: relative;
        padding: 60px;
      }
      span,
      p {
        color: rgba($color: #fff, $alpha: 0.8);
      }
      .tp-award-reveal-img {
        @include breakpoint(1279) {
          width: 100% !important;
          height: 100% !important;
          opacity: 1 !important;
          margin: 0 !important;
          transform: none !important;
          mix-blend-mode: color;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
          }
        }
      }
    }
  }
}

.des-portfolio-panel {
  @include min-breakpoint(1279) {
    // min-height: 650px;
    max-height: 90vh;
    aspect-ratio: 2.215;
  }

  @include breakpoint(991) {
    min-height: 500px !important;
  }

  @include breakpoint(767) {
    min-height: auto !important;
    // height: 450px !important;
    aspect-ratio: 0.8;
  }
  > a {
    @include breakpoint(991) {
      position: absolute;
      inset: 0;
    }
    .des-portfolio-thumb {
      @include breakpoint(991) {
        position: absolute;
        inset: 0;
      }

      img {
        @include breakpoint(991) {
          height: 100% !important;
        }
      }
    }
  }
  .des-portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(767) {
      bottom: auto !important;
      top: calc(50% + 20px) !important;
      transform: translateY(-50%);
    }
    .tp-perspective-category {
      font-size: 40px;
      line-height: 1.2;
      color: white;

      @include breakpoint(767) {
        font-size: 20px;
      }
    }
  }
}

// .page-template-careers {
.tp-section-title.lts,
.tp-benefit-item-title {
  letter-spacing: 0px !important;
}
// }

.tp-benefit-item-title {
  font-family: "Inter", sans-serif;
}


.tp-benefit-ptb {
  @include breakpoint(767) {
    padding-top: 0 !important;
  }
}

.page-template-careers {
  .tp-hero-2-wrapper {
    .tp-about-us-area {
      @include breakpoint(767) {
        padding-bottom: 0 !important;
      }
    }
  }

  .career-heading {
    @include breakpoint(991) {
      display: none !important;
    }
  }


  .tp-career-opening-ptb {
    .tp-career-opening-title-name {
      letter-spacing: 0.5px !important;
    }
  }
}

.page-template-blog-detail {
  .postbox-title {
    letter-spacing: 0.5px !important;
  }
  .postbox-author-name {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0px;
  }

  .tp-blog-details-ptb {
    @include breakpoint(767) {
      padding-top: 0 !important;

    }

    .tp-blog-details-banner {
      img {
            @include breakpoint(767) {
              transform: none !important;
            }
      }
    }
  }
  .postbox-details-nevigation-title{
    letter-spacing: 0.5px !important;

    @include breakpoint(767) {
      font-size: 30px;
    }
  }
  .postbox-details-nevigation-wrap {
    @include breakpoint(767) {
      height: auto !important;
      aspect-ratio: 1 !important;
      margin-top: 30px;
    }
  }
  .postbox-details-nevigation-thumb {
    &:after {
      @include breakpoint(767) {
        top: 0 !important;
      }
    }
    img {
    @include breakpoint(1279) {
      transform: none !important;
    }
  }
  }
}